/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html {
  @apply max-h-screen;
  /* bg-gray-500 */
  /* color: #6b7280; */

  /* bg-gray 600 */
  /* color:  #4b5563 */

  /* bg-gray 700 */
  /* color: #374151 */

  /* bg-gray-900 */
  /* color: #111827 */
  margin: 0;
}

.logo-signature {
  font-family: 'Rajdhani', sans-serif;
}

/* [aria-label='Click to Enable Dark Mode'] {
  background-color: #fff;
  color: #111827;
}

[aria-label='Click to Enable Light Mode'] {
  background-color: #111827;
  color: #fff;
} */

.meals {
  @apply grid grid-cols-1	gap-5 mt-5 xs:grid-cols-2 sm:grid-cols-3 xl:grid-cols-4;
}

.btn {
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold tracking-wider cursor-pointer;
}

/* Categories */
.category {
  @apply grid grid-cols-1	gap-5 mt-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
}

.categories {
  @apply border-2 border-solid border-gray-200 rounded bg-gray-700 sm:bg-gray-600 inline-block text-white text-xs font-bold p-1 mt-0 mr-1 mb-1 ml-0;
}

.cat-img {
  @apply w-52 lg:w-52 mb-2;
}

.home-btn:hover > .home-icon {
  @apply text-gray-600 sm:text-gray-500;
}
