/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
/* Search Bar */
.border {
  @apply border-solid border-2 border-white text-sm py-2 px-2.5 bg-white;
}

html {
  @apply max-h-screen;
  /* bg-gray-500 */
  /* color: #6b7280; */

  /* bg-gray 600 */
  /* color:  #4b5563 */

  /* bg-gray 700 */
  /* color: #374151 */

  /* bg-gray-900 */
  /* color: #111827 */
  margin: 0;
}

.logo-signature {
  font-family: 'Rajdhani', sans-serif;
}

/* [aria-label='Click to Enable Dark Mode'] {
  background-color: #fff;
  color: #111827;
}

[aria-label='Click to Enable Light Mode'] {
  background-color: #111827;
  color: #fff;
} */

.meals {
  @apply grid grid-cols-1	gap-5 mt-5 xs:grid-cols-2 sm:grid-cols-3 xl:grid-cols-4;
}

.meal {
  @apply rounded overflow-hidden shadow-md cursor-pointer relative h-60 w-60 xs:h-56 xs:w-52 sm:h-56 sm:w-52 lg:h-56 lg:w-52 text-left;
}

.meal-img {
  @apply w-full h-full border-solid border-4 border-white;
}

.badge {
  @apply absolute w-24 top-0 ml-2 p-2 mt-2 bg-transparent text-gray-400 text-xs uppercase font-medium rounded-full flex items-center;
}

.btn {
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold tracking-wider cursor-pointer;
}

.single-meal-p {
  @apply m-auto tracking-wide leading-normal max-w-4xl;
}

.single-meal-ul {
  @apply pl-0;
}

.single-meal-ul-li {
  @apply border-2 border-solid border-gray-200 rounded bg-white inline-block text-gray-900 text-xs font-bold p-1 mt-0 mr-1 mb-1 ml-0;
}

/* Categories */
.category {
  @apply grid grid-cols-1	gap-5 mt-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
}

.categories {
  @apply border-2 border-solid border-gray-200 rounded bg-gray-700 sm:bg-gray-600 inline-block text-white text-xs font-bold p-1 mt-0 mr-1 mb-1 ml-0;
}

.cat-img {
  @apply w-52 lg:w-52 mb-2;
}

.home-btn:hover > .home-icon {
  @apply text-gray-600 sm:text-gray-500;
}

/* Sign In / Sign Up */

.login-splash {
  display: grid;
  place-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 16px;
  min-width: 615px;
  width: 90%;
}
/* h1 */
.new-login {
  color: #3a9691;
}
/* h2 */
@media only screen and (max-width: 767px) {
  .login-splash-subheading {
    margin-bottom: 1em;
    color: #707070;
  }
  .login-splash {
    min-width: 300px;
  }
}

@media only screen and (max-width: 767px) {
  .new-login {
    font-size: 1.5em;
    margin: auto;
  }
}
@media only screen and (max-width: 767px) {
  .login-splash-subheading {
    width: 100%;
    font-size: 1em;
    line-height: 21px;
    margin: 7px 0;
  }
}
.login-splash-subheading {
  font-family: europa-regularregular, sans-serif;
  font-weight: 400;
  color: #707070 !important;
}

/* ul class */
.login-splash .login-buttons,
.registered-user .login-buttons,
.new-registered-user .login-buttons {
  margin: 0;
}
ol,
ul {
  list-style: none;
}

/* li class pre button */
.login-splash .login-buttons li:first-child,
.registered-user .login-buttons li:first-child,
.new-registered-user .login-buttons li:first-child {
  margin-left: 0;
}
.login-splash .login-buttons li,
.registered-user .login-buttons li,
.new-registered-user .login-buttons li {
  display: block;
  margin: 0 0 10px;
}
/* Google Button */
.button,
[class^='btn-'],
[class*=' btn-'] {
  letter-spacing: 0;
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 3em;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  transition: all 200ms ease;
  padding: 11px 24px;
  /* background-color: #fff; */
}

.login-splash .login-buttons li .google,
.registered-user .login-buttons li .google,
.new-registered-user .login-buttons li .google {
  background-image: url(https://x.yummlystatic.com/web/auth/google.png);
  /* background-color: #fff; */
  color: #000;
}

.login-splash .login-buttons li .facebook,
.registered-user .login-buttons li .facebook,
.new-registered-user .login-buttons li .facebook,
.login-splash .login-buttons li .google,
.registered-user .login-buttons li .google,
.new-registered-user .login-buttons li .google,
.login-splash .login-buttons li .github,
.registered-user .login-buttons li .github,
.new-registered-user .login-buttons li .github,
.login-splash .login-buttons li .email,
.registered-user .login-buttons li .email,
.new-registered-user .login-buttons li .email {
  background: url(https://x.yummlystatic.com/web/auth/email.png) 8px 50%
    no-repeat;
  background-size: 2em;
  text-align: left;
  padding: 12px 1.5em;
  box-shadow: 0 0.125em 0.25em rgb(0 0 0 / 12%),
    0 0 2px 0 rgb(0 0 0 / 27%) inset;
}

.login-splash .login-buttons li button,
.registered-user .login-buttons li button,
.new-registered-user .login-buttons li button {
  min-width: 16.5em;
  text-indent: 2em;
}

/* Facebook Button */
.login-splash .login-buttons li .facebook,
.registered-user .login-buttons li .facebook,
.new-registered-user .login-buttons li .facebook {
  background-image: url(https://x.yummlystatic.com/web/auth/facebook.png);
  background-color: #3b5998;
  color: #fff;
}

/* Google Button */
.login-splash .login-buttons li .google,
.registered-user .login-buttons li .google,
.new-registered-user .login-buttons li .google {
  background-image: url(https://x.yummlystatic.com/web/auth/google.png);
  background-color: #fff;
  color: #000;
}

/* github Button */

.login-splash .login-buttons li .github,
.registered-user .login-buttons li .github,
.new-registered-user .login-buttons li .github {
  background-image: url(./GitHub-Mark-Light-120px-plus.png);
  background-color: #000;
  color: #fff;
}

/* Email Button */
.login-splash .login-buttons li .email,
.registered-user .login-buttons li .email,
.new-registered-user .login-buttons li .email {
  background-color: #3a9691;
  color: #fff;
}

.legalese {
  color: #707070;
}

@media (max-width: 1023px), (max-height: 720px) {
  .new-login .legalese {
    position: static;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .legalese {
    width: 200px;
  }
}

.legalese {
  position: relative;
  top: 3em;
  right: auto;
  bottom: auto;
  left: auto;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  color: #707070;
}

.legalese a {
  color: #3a9691;
  border-bottom: 1px solid #3a9691;
  text-decoration: none;
  transition: all 200ms ease;
}

.close-link {
  display: block;
  right: 0;
  bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2em;
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  cursor: pointer;
}

/* @media (min-width: 1280px) {
  .close-link {
    display: block;
    right: 100px;
    bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2em;
    position: absolute;
    color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    cursor: pointer;
  }
} */

@media (max-width: 1023px), (max-height: 720px) {
  .new-login .close-link {
    padding: 2em 2em 3em;
  }
}
